body{
  margin: 0;
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: white;
}

h1, h2{
  font-family: "Racing Sans One", cursive;
}

hr{
  color: white;
  width: 180px;
  margin: 0;
}

.home_title{
  position: absolute;
  display: inline-block;
  left: 12%;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Racing Sans One", cursive;
  font-size: 8vw;
  font-weight: 100;
}

.home_title_joshua{
  color: #38B6FF;
  margin: 0;
}

.home_title_parker{
  color: white;
  margin: 0;
  text-indent: 30%;
}

.home_img{
  position: absolute;
  display: inline-block;
  width: 25%;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}

.topbar a{
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.topbar ul{
  width: auto;
  float: right;
  margin-right: 25px;
}

.topbar li{
  display: inline-block;
  padding: 20px 15px;
}

.topbar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 10;
}

.icon{
  padding: 10px 25px;
  display: inline-block;
}

.main{
  position: relative;
  padding: 0 10% 0 10%;
  line-height: 25px;
}

.interests_education{
  width: 100%;
  padding: 0;
}

.interests{
  vertical-align: top;
  width: 50%;
}

.interests_list{
  padding-left: 25px;
}

.education_info{
  color: #38B6FF;
  line-height: 2px;
}

.skills{
  text-align: center;
}

.skills_table td{
  width: 33%;
}

.skills_table{
  width: 100%;
  text-align: center;
}

.resume_outer{
  width: 155px;
  margin: auto;
}

.resume p{
  margin: 0;
}

.resume{
  background-color: white;
  color: black;
  text-align: center;
  width: 155px;
  margin: auto;
  border-radius: 25px;
}

a:hover{
  color: #38B6FF;
  transition: 1s;
}

.resume:hover{
  background-color: #38B6FF;
  transition: 1s;
}

.contact{
  margin: 75px auto auto auto;
  width: 100%;
  text-align: center;
  word-spacing: 5px;
}

.copyright{
  margin: 18px auto 100px auto;
  width: 100%;
  text-align: center;
  font-size: 13px;
}

#home{
  position: relative;
  background-color: black;
  height: 100vh;
  z-index: 5;
}

#about{
  position: relative;
  background-color: black;
  color: white;
  padding-top: 100px;
  margin-top: -100px;
  z-index: 4;
}

#projects{
  position: relative;
  background-color: black;
  color: white;
  padding-top: 100px;
  margin-top: -100px;
  z-index: 3;
}

#posts{
  position: relative;
  background-color: black;
  color: white;
  padding-top: 100px;
  margin-top: -100px;
  z-index: 2;
}

#contact{
  position: relative;
  background-color: black;
  color: white;
  padding-top: 100px;
  margin-top: -100px;
  z-index: 1;
}
