body{
  margin: 0;
  background-color: black;
  font-family: "Titillium", sans-serif;
  font-weight: lighter;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: white;
}

h1, h2{
  font-family: "Titillium", sans-serif;
}

hr{
  color: white;
  width: 180px;
  margin: 0;
}

.home-title{
  position: absolute;
  display: inline-block;
  left: 12%;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Racing Sans One", cursive;
  font-size: 8vw;
  font-weight: 100;
}

.home-title-joshua{
  color: #38B6FF;
  margin: 0;
}

.home-title-parker{
  color: white;
  margin: 0;
  text-indent: 30%;
}

.home-img{
  position: absolute;
  display: inline-block;
  width: 25%;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}

.nav{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 10;
}

.nav a{
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

a:hover{
  color: #38B6FF;
  transition: 0.7s;
}

.nav ul{
  width: auto;
  float: right;
  margin-right: 25px;
}

.nav li{
  display: inline-block;
  padding: 20px 15px;
}

.icon{
  padding: 10px 25px;
  display: inline-block;
}

.main{
  position: relative;
  padding: 0 10% 0 10%;
  line-height: 25px;
}

.interests-education{
  width: 100%;
  padding: 0;
}

.interests{
  vertical-align: top;
  width: 50%;
}

.education{
  vertical-align: top;
}

.harvard-wrapper{
  margin-bottom: 15px;
}

.interests-list{
  padding-left: 25px;
}

.education-info{
  color: #38B6FF;
  line-height: 2px;
}

.skills{
  text-align: center;
}

.skills-table{
  width: 100%;
  text-align: center;
}

.skills-table td{
  width: 33%;
}

.resume-wrapper{
  width: 155px;
  margin: auto;
}

.resume{
  background-color: white;
  color: black;
  text-align: center;
  width: 155px;
  margin: auto;
  border-radius: 25px;
}

.resume p{
  margin: 0;
}

.resume:hover{
  background-color: #38B6FF;
  transition: 0.7s;
}

.project-wrapper{
  border-style: solid;
  border-width: medium;
  border-color: #38B6FF;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 20px 0 0 0;
}

.project-wrapper h2,h3,p{
  margin: 10px 0;
}

.project-wrapper h3{
  font-weight: normal;
}

.project-skill{
  display: inline-block;
  background-color: #38B6FF;
  color: black;
  padding: 2px 7px;
  margin: 0 4px 0 0;
  border-radius: 15px;
}

.project-skill p{
  margin: 0;
}

.contact{
  margin: 75px auto auto auto;
  width: 100%;
  text-align: center;
  word-spacing: 5px;
}

.copyright{
  margin: 18px auto 100px auto;
  width: 100%;
  text-align: center;
  font-size: 13px;
}

#home{
  position: relative;
  background-color: black;
  height: 100vh;
  z-index: 5;
}

#about{
  position: relative;
  background-color: black;
  color: white;
  padding-top: 90px;
  margin-top: -90px;
  z-index: 4;
}

#projects{
  position: relative;
  background-color: black;
  color: white;
  padding-top: 90px;
  margin-top: -90px;
  z-index: 3;
}

#posts{
  position: relative;
  background-color: black;
  color: white;
  padding-top: 90px;
  margin-top: -90px;
  z-index: 2;
}

#contact{
  position: relative;
  background-color: black;
  color: white;
  padding-top: 90px;
  margin-top: -90px;
  z-index: 1;
}
